body{
    background-color: bisque;
    background-image: url("../images/tranhdongque9.jpg");
    background-size: cover;
}
h1{
    color: red;
}
p{
    color: green;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;/* left right center justify*/
    text-decoration: none;/* underline line-through overline none*/
    text-transform: none;/*uppercase lowercase capitalize*/
    font-style: italic;
    width: 65px;/* độ rộng của khung chứa chữ*/
    background: white;

}
a{
    text-decoration: none;
}